        body {
            background-color: #FFF8EF;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            padding: 40px;
            text-align: center;
            width: 1200px;
        }

        h1 {
            color: #FEB6C6;
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #A0E6B2;
            color: #ffffff;
            border: 0;
            padding: 10px 20px;
            width: 200px;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .btn-primary:hover {
            background-color: #78AB84;
        }

        .card {
            width: 18rem; /* Define uma largura fixada para os cards */
            height: auto;
        }

        .row .col {
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .product-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        .btn-danger {
            background-color: #FEB6C6;
            border: 0;
            color: #ffffff;
        }

        .btn-danger:hover {
            background-color: #C28C97;
            border: 0;
        }


        .btn-warning {
            background-color: #fdBc96;
            border: 0;
            color: #ffffff;
        }

        .btn-warning:hover {
            background-color: #C28F72;
            border: 0;
        }


